body {
    background-color: #EAEBED;
}
header {
    margin-top: 80px;
}
.welcomeHeader {
    background-color: #4E5166;
    text-align:center;
    border: 5px solid #7C90A0;
    border-radius: 20px 5px;
    padding: 20px;
    color: #F7FFF7;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
}
.divider {
    border: solid 2px #4E5166;
}

footer {
    text-align: center;
    margin-bottom: 20px;
}
